aiohttp
motor
aiohttp_cors
pyTelegramBotAPI
python-dotenv
PyYAML
sentry-sdk
aiohttp-swagger[perfomance]
openai
langchain
langchain-community
langchain-openai
langchain-community
pydub
tiktoken
lxml
pandas
faiss-cpu
pypdf
bs4
html2text